<div class="side-bar">
  <a class="side-bar-logo" [routerLink]="['']">
    <img src="assets/icons/menu/store_logo.png" alt="playstation store logos">
  </a>
  <div class="side-bar-items">
    <div class="side-bar-items-item"
      [routerLink]="['']"
      [routerLinkActive]="['activated']"
      [routerLinkActiveOptions]="{exact: true}">
      <button>Novidades</button>
    </div>
    <div class="side-bar-items-item"
      [routerLink]="['browse']"
      [routerLinkActive]="['activated']"
      [routerLinkActiveOptions]="{exact: true}">
      <button>Navegar</button>
    </div>
  </div>
</div>
