.side-bar {
  position: relative;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 17px;

  .side-bar-logo {
    width: 140px;

    > img {
      width: 100%;
      height: auto;
    }
  }

  .side-bar-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;

    .side-bar-items-item {
      margin: 0 4px;
      font-weight: 600;
      border-radius: 20px;

      > button {
        padding: 2px 8px;
      }

      :hover {
        cursor: pointer;
        border-radius: 20px;
        transition: background-color 250ms ease-in;
        background-color: #CED5DA;
      }
    }
  }
}

.activated {
  background-color: #EBEEF0;
}

@media (max-width: 500px) {
  .side-bar-logo {
    display: none;
  }
}
