.top-bar-dropdown {
  position: absolute;
  z-index: 1000;
  top: 40px;
  left: 0;
  width: 100%;
  height: 224px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white);
  -webkit-box-shadow: 0 11px 4px 0 rgba(0,0,0,.3);
  box-shadow: 0 11px 4px 0 rgba(0,0,0,.3);
  cursor: default;

  .top-bar-dropdown-items {
    display: flex;

    .top-bar-dropdown-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      width: 140px;
      height: 140px;
      cursor: pointer;

      > span {
        color: var(--primary-black);
      }

      &:hover {
        -webkit-box-shadow: 1px 1px 5px #adadad;
        box-shadow: 1px 1px 5px #adadad;
        border-radius: 4px;
      }
    }
  }
}

@media (max-width: 500px) {
  .top-bar-dropdown {
    height: 180px;

    .top-bar-dropdown-items {
      width: 30%;

      .top-bar-dropdown-item {
        margin: 0;

        > img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
