<div class="top-bar">
  <div class="top-bar-logo">
    <span><img src="assets/sony_logo.svg" alt="sony logo" width="75" height="36" /></span>
  </div>
  <div class="top-bar-items">
    <span><img src="assets/playstation_logo.svg" alt="playstation logo" width="28" height="28" /></span>
    <div class="top-bar-items-nav">
      <div class="top-bar-items-nav-item" (click)="openDropdown()">
        <button>Jogos</button>
        <span>></span>
        <app-top-bar-dropdown [showDropdown]="showDropdown"></app-top-bar-dropdown>
      </div>
      <div class="top-bar-items-nav-item">
        <button>Contato</button>
        <span>></span>
      </div>
    </div>
    <div class="top-bar-items-tools">
      <div class="top-bar-items-tools-account">
        <button>Iniciar sessão</button>
      </div>
      <div class="top-bar-items-tools-search">
        <button><img src="assets/search_icon.svg" alt="search icon" width="21" height="21" /></button>
      </div>
    </div>
  </div>
</div>
