<div class="side-bar">
  <div class="side-bar-logo">
    <img src="assets/store_logo.png" alt="playstation store logos">
  </div>
  <div class="side-bar-items">
    <div class="side-bar-items-item"
      [routerLink]="['']"
      [routerLinkActive]="['activated']"
      [routerLinkActiveOptions]="{exact: true}">
      <button>Novidades</button>
    </div>
    <div class="side-bar-items-item"
      [routerLink]="['browse']"
      [routerLinkActive]="['activated']"
      [routerLinkActiveOptions]="{exact: true}">
      <button>Navegar</button>
    </div>
  </div>
</div>
