.top-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px;
  height: 40px;
  background-color: var(--primary-white);

  .top-bar-left {
    display: flex;

    .top-bar-left-nav {
      display: flex;
      align-items: center;
      margin: 0 8px;

      .top-bar-left-nav-item {
        font-size: 12px;
        margin: 0 4px;
        color: var(--decoration-black);

        > span {
          font-size: 10px;
          margin-left: 4px;
          font-weight: bold;
          display: inline-block;
          -webkit-transform: rotate(90deg) scaleX(0.8) scaleY(1.5);
          -moz-transform: rotate(90deg) scaleX(0.8) scaleY(1.5);
          -o-transform: rotate(90deg) scaleX(0.8) scaleY(1.5);
          transform: rotate(90deg) scaleX(0.8) scaleY(1.5);
        }

        &:hover {
          color: var(--primary-blue);
          cursor: pointer;
        }
      }
    }
  }

  .top-bar-right {
    display: flex;

    .top-bar-right-account {
      margin: auto;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 20px;
      color: var(--primary-white);
      background-color: #0070cc;

      > button {
        padding: 0 6px;
      }

      :hover {
        cursor: pointer;
        border-radius: 20px;
        background-color: var(--primary-blue);
      }
    }

    .top-bar-right-search {
      margin-left: 14px;

      :hover {
        cursor: pointer;
      }
    }
  }
}
