
.browse {
  margin: 40px;

  > h1 {
    margin: 16px 0;
    font-weight: 200;
  }

  > span {
    font-weight: 200;
  }

  .browse-games {
    margin: 16px 0;

    > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 10px;
    }
  }
}
