
.browse {
  margin: 40px;

  > h1 {
    margin: 16px 0;
    font-weight: 200;
  }

  > span {
    font-weight: 200;
  }

  .browse-games {
    margin: 16px 0;

    > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 10px;
    }
  }
}

@media (max-width: 500px) {
  .browse {
    .browse-games {
      > ul {
        display: grid;
        justify-content: center;
        grid-template-columns: 100px 100px 100px;
      }
    }
  }
}
