<div class="browse">
  <h1>Todos os jogos</h1>
  <span>12 itens</span>
  <div class="browse-games">
    <ul>
      <li>
        <app-game-card [width]="200" [height]="200"></app-game-card>
        <p>Game name</p>
      </li>
      <li>
        <app-game-card [width]="200" [height]="200"></app-game-card>
        <p>Game name</p>
      </li>
      <li>
        <app-game-card [width]="200" [height]="200"></app-game-card>
        <p>Game name</p>
      </li>
      <li>
        <app-game-card [width]="200" [height]="200"></app-game-card>
        <p>Game name</p>
      </li>
      <li>
        <app-game-card [width]="200" [height]="200"></app-game-card>
        <p>Game name</p>
      </li>
      <li>
        <app-game-card [width]="200" [height]="200"></app-game-card>
        <p>Game name</p>
      </li>
      <li>
        <app-game-card [width]="200" [height]="200"></app-game-card>
        <p>Game name</p>
      </li>
      <li>
        <app-game-card [width]="200" [height]="200"></app-game-card>
        <p>Game name</p>
      </li>
      <li>
        <app-game-card [width]="200" [height]="200"></app-game-card>
        <p>Game name</p>
      </li>
      <li>
        <app-game-card [width]="200" [height]="200"></app-game-card>
        <p>Game name</p>
      </li>
      <li>
        <app-game-card [width]="200" [height]="200"></app-game-card>
        <p>Game name</p>
      </li>
      <li>
        <app-game-card [width]="200" [height]="200"></app-game-card>
        <p>Game name</p>
      </li>
    </ul>
  </div>
</div>
